.app-container{
max-width: 15cm;
height: 8cm;
margin: auto;
background-color: rgb(240, 236, 233);
border-radius: 0.1cm;
}

.list-container{
max-width: 8cm;
margin: auto;
}



.task{
width: 7.8cm;
border-color: rgba(211, 215, 219, 0.945);
border-radius: 0.1cm;
margin-left: 1cm;
}

.submit-task{
 margin-left: 7.5cm;
background-color: rgba(0, 153, 255, 0.877);
border: 0cm;
border-radius: 0.1cm;
}


.todo{
  background-color:rgba(247, 247, 247, 0.856);
  justify-content: space-between;
  display: flex;
  border-radius: 0.3cm;
  margin-bottom: .5cm;

}
.content{
display: flex;
}